<section class="features">
  <div class="container">
    <ul class="features-list">
      <li class="features-item-first">
        <img src="../img/img-diving-mobile@1x.jpg" alt="first-features">
        <button class="feature-button">Diving</button>
      </li>
      <li class="features-item item-position features-item-second">
        <img src="../img/img-fishing-mobile@1x.jpg" alt="second-features">
        <button class="feature-button">Fishing</button>
      </li>
      <li class="features-item features-item-third">
        <img src="../img/img-sunbathing-mobile@1x.jpg" alt="third-features">
        <button class="feature-button">Sunbathing</button>
      </li>
    </ul>
  </div>
</section>