<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <a href="" class="footer-logotype">
        <h2 class="footer-title">YACHT ADVENTURE</h2>
        <img src="./img/logo_yacht.svg" alt="logo" />
      </a>
      <ul class="footer-list">
        <li class="footer-item">
          <a href="./index.html" class="footer-link">About</a>
        </li>
        <li class="footer-item">
          <a href="#" class="footer-link">Yachts</a>
        </li>
        <li class="footer-item">
          <a href="#" class="footer-link">Reviews</a>
        </li>
      </ul>
      <div>
        <p class="footer-social-title">We in social</p>
        <ul class="footer-social-list">
          <li>
            <a href="">
              <svg class="footer-social-icon">
                <use href="./img/symbol-defs.svg#icon-facebooksvg"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="footer-social-icon">
                <use href="./img/symbol-defs.svg#icon-instagramsvg"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="footer-social-icon">
                <use href="./img/symbol-defs.svg#icon-youtubesvg"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-polis">2023. Yacht Adventures Privacy Police</p>
  </div>
</footer>