<footer class="footer">
    <h2>YACHT ADVENTURE</h2>
  <ul class="footer-list">
      <li class="footer-item">
      <a href="./index.html" class="footer-link">About</a>
      </li>
      <li class="footer-item">
      <a href="#" class="footer-link">Yachts</a>
      </li>
      <li class="footer-item">
      <a href="#" class="footer-link">Reviews</a>
      </li>
    </ul>
    <div>
      <p>
        We in social
      </p>
      <ul>
        <li>
          <a href=""></a>
        </li>
        <li>
          <a href=""></a>
        </li>
        <li>
          <a href=""></a>
        </li>
      </ul>
    </div>
    <p>2023. Yacht Adventures
      Privacy Police</p>
  </footer>