<footer class="footer">
  <div class="container">
   <a href="" class="logotype">
    <h2 class="footer-title">YACHT ADVENTURE</h2>
    <img src="./img/logo_yacht.svg" alt="logo">
   </a>
  <ul class="footer-list">
      <li class="footer-item">
      <a href="./index.html" class="footer-link">About</a>
      </li>
      <li class="footer-item">
      <a href="#" class="footer-link">Yachts</a>
      </li>
      <li class="footer-item">
      <a href="#" class="footer-link">Reviews</a>
      </li>
    </ul>
    <div>
      <p>
        We in social
      </p>
      <ul>
        <li>
          <a href="">
            <svg class="footer-social-icon">
              <use href="./img/symbol-devs.svg#icon-facebooksvg">

              </use>
            </svg>
            <svg class="footer-social-icon">
              <use href="./img/symbol-devs.svg#icon-facebooksvg">

              </use>
            </svg>
            <svg class="footer-social-icon">
              <use href="./img/symbol-devs.svg#icon-facebooksvg">

              </use>
            </svg>
          </a>
        </li>
        <li>
          <a href=""></a>
        </li>
        <li>
          <a href=""></a>
        </li>
      </ul>
    </div>
    <p>2023. Yacht Adventures
      Privacy Police</p>
    </div>
  </footer>