<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="" class="header-logo">
        <img src="./img/logo_yacht.svg" alt="" class="header-svg" />
        YACHT ADVENTURES
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a href="">ABOUT</a>
        </li>
        <li class="header-item">
          <a href="">YACHTS</a>
        </li>
        <li class="header-item">
          <a href="">REVIEWERS</a>
        </li>
      </ul>
      <button class="burger-button js-open-menu">
        <svg class="burger-button-svg" width="20" height="20px">
          <use href="./img/symbol-defs.svg#icon-burgermenu-svg"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="burger-underline">
    <ul class="burger-logo-list">
      <li class="burger-logo-item">
        <a href="" class="burger-logo">
          <img src="./img/logo_yacht.svg" alt="" class="burger-logo-svg" />
          YACHT ADVENTURES
        </a>
      </li>
      <li class="burger-logo-item">
        <button class="menu-button-close js-close-menu">
          <svg class="close-button-svg" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-close-button-svg"></use>
        </svg>
        </button>
      </li>
    </ul>
  </div>
  <ul class="burger-list">
    <li class="burger-item">
      <a href="">ABOUT</a>
    </li>
    <li class="burger-item">
      <a href="">YACHTS</a>
    </li>
    <li class="burger-item">
      <a href="">REVIEWERS</a>
    </li>
  </ul>
</div>
