<section class="hero">
    <div class="container">
        <h2 class="hero__title">Explore the High Seas with <span class="hero__span"> Our Luxury
                Yacht </span>Rentals
        </h2>
        <h2 class="hero__text">Experience the freedom and luxury of yachting on the open seas. Choose from our
            top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and
            state-of-the-art amenities</h2>
        <ul class="hero__button-list">
            <li class="hero__button-item">
                <button class="hero__button">Get Started</button>
            </li>
            <li class="hero__button-item">
                <button class="hero__unbutton">Explore</button>
            </li>
        </ul>
        <div class="box-wrapper">
            <div class="box-images">
                    <div class="help-images-div">
                    <ul class="hero-images-list">
                        <li class="box-images-element box-images-element-third-position"><img src="../img/first-list-element.png" alt="first-list-element"></li>
                        <li class="box-images-element box-images-element-position"><img src="../img/second-list-person.png" alt="second-list-element"></li>
                        <li class="box-images-element box-images-element-second-position"><img src="../img/third-list-element.png" alt="third-list-element"></li>
                    </ul>
                    <h2 class="box-images-title">Our Clients</h2>
                    </div>
                    <div class="thumb-for-after-rich-man">
                    <img src="../img/box-yacht-image.png" alt="box-yacht-image">
                    </div>
                    <div class="text-wrapper">
                        <h2 class="box-second-title">
                            &dollar;12M
                        </h2>
                        <p class="box-paragraph">
                            Book now and make your
                            dream yacht rental a reality
                        </p>
                    </div>
            </div>
        </div>
       <!-- <picture>
            <source srcset="" type="image/webp" media="(min-width:1200px)">
            <source srcset="" type="image/webp" media="(min-width:768px)">
            <source
                srcset="./scr/img/mobile/background-mobile-1x.webp 1x, ./scr/img/mobile/background-mobile-2x.webp 2x"
                type="image/webp" media="(min-width:375px)">
            <img scr="./img/background-norm.png" alt="">
        </picture>
        <picture>
            <source srcset="" type="image/webp" media="(min-width:1200px)">
            <source srcset="" type="image/webp" media="(min-width:768px)">
            <source srcset="./scr/img/mobile/people-mobile-1x.webp 1x, ./scr/img/mobile/people-mobile-2x.webp 2x"
                type="image/webp" media="(min-width:375 px)">
            <img scr="./img/mobile/people-norm.png" alt="">
        </picture>
        <picture>
            <source srcset="" type="image/webp" media="(min-width:1200px)">
            <source srcset="" type="image/webp" media="(min-width:768px)">
            <source srcset="./scr/img/mobile/men-mobile-1x.webp 1x, ./scr/img/mobile/men-mobile-2x.webp 2x"
                type="image/webp" media="(min-width:375px)">
            <img scr="./img/mobile/men-norm.png" alt="">
        </picture>
        <picture>
            <source srcset="" type="image/webp" media="(min-width:1200px)">
            <source srcset="" type="image/webp" media="(min-width:768px)">
            <source srcset="./scr/img/mobile/yahta-mobile-1x.webp 1x, ./scr/img/mobile/yahta-mobile-2x.webp 2x"
                type="image/webp" media="(min-width:375px)">
            <img scr="./img/mobile/yahta-norm.png" alt="">
        </picture> -->
    </div>
</section>