<section class="hero">
    <div class="container">
        <h2 class="hero__text">Explore the High Seas with <span class="text-span"> Our Luxury Yacht </span>Rentals</h2>
        <h2 class="hero__text">Experience the freedom and luxury of yachting on the open seas. Choose from our
            top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and
            state-of-the-art amenities</h2>

        <ul class="hero__button-list">
            <li class="hero__button-item">
                <button>Get Started</button>
            </li>
            <li class="hero__button-item">
                <button>Explore</button>
            </li>
        </ul>
        <picture>
            <source srcset="" type="image/webp" media="(min-width:1200px)">
            <source srcset="" type="image/webp" media="(min-width:768px)">
            <source srcset="./scr/img/mobile/people-mobile-1x.webp 1x, ./scr/img/mobile/people-mobile-2x.webp 2x"
                type="image/webp" media="(min-width:320px)">
            <img scr="./" alt="">
        </picture>
    </div>
</section>