<section class="hero">
    <div class="container wrapper">
      <div class="hero-title-wrapper">
        <h2 class="hero-title">
          Explore the High Seas with
          <span class="hero__span"> Our Luxury Yacht </span>Rentals
        </h2>
        <h2 class="hero-text">
          Experience the freedom and luxury of yachting on the open seas. Choose
          from our top-of-the-line yachts and embark on an unforgettable journey
          surrounded by breathtaking views and state-of-the-art amenities
        </h2>
        <ul class="hero__button-list">
          <li class="hero__button-item">
            <button class="hero__button">Get Started</button>
          </li>
          <li class="hero__button-item">
            <button class="hero__unbutton">Explore</button>
          </li>
        </ul>
      </div>
  
      <div class="box-wrapper">
        <div class="box-images">
          <div class="help-images-div">
            <ul class="hero-images-list">
              <li class="box-images-element box-images-element-third-position">
                <img
                  src="./img/first-list-element.png"
                  alt="first-list-element"
                />
              </li>
              <li class="box-images-element box-images-element-position">
                <img
                  src="./img/second-list-person.png"
                  alt="second-list-element"
                />
              </li>
              <li class="box-images-element box-images-element-second-position">
                <img
                  src="./img/third-list-element.png"
                  alt="third-list-element"
                />
              </li>
            </ul>
            <h2 class="box-images-title">Our Clients</h2>
          </div>
          <div class="thumb-for-after-rich-man">
            <picture>
              <source srcset="./img/box-yacht-image.png 1x, ./img/box-yacht-image@2x.png 2x" media="(min-width:1200px)">
              <source srcset="./img/box-yacht-image-tablet@1x.png 1x, ./img/box-yacht-image-tablet@1x.png 2x" media="(min-width:768px)">
              <source srcset="./img/box-yacht-image-tablet@1x.png 1x, ./img/box-yacht-image-tablet@1x.png 2x" media="(max-width:767px)">
              <img src="./img/box-yacht-image.png" alt="box-yacht-image" />
            </picture>
          </div>
          <div class="text-wrapper">
            <h2 class="box-second-title">&dollar;12M</h2>
            <p class="box-paragraph">
              Book now and make your dream yacht rental a reality
            </p>
          </div>
          <picture>
            <source srcset="./img/hero-client-img-tablet@1x.png 1x, ./img/hero-client-img-tablet@2x.png 2x" media="(min-width:1200px)">
            <source srcset="./img/hero-client-img-tablet@1x.png 1x, ./img/hero-client-img-tablet@2x.png 2x" media="(min-width:768px)">
            <source srcset="./img/hero-client-img@1x.png 1x, ./img/hero-client-img@2x.png 2x" media="(max-width:767px)">
            <img class="hero-client-img" src="./img/men-norm.png" />
          </picture>
        </div>
      </div>
    </div>
  </section>