<section class="rent-section">
<div class="container">
  <div>
    <div>
      <h2 class="rent-section-title">
      Rent a yacht now
    </h2>
    <div>
          <!-- <picture>
      <source>
      <source>
      <source>
    </picture> -->
    </div>
    </div>
  </div>
  <form>
    <label for="name">Full Name</label>
    <input type="text" id="name" required>

    <label for="email">Email</label>
    <input type="email" id="email" required>

    <label for="phone">Phone number</label>
    <input type="tel" id="phone" required>

    <label for="comment">Comment</label>
    <textarea id="comment" rows="4"></textarea>

    <!-- Кнопка отправки -->
</form>
</div>
      <button class="order_form-button">
        Send
      </button>
    </div>
</div>
</section>