<section class="rent-section">
<div class="container">
  <div>
    <div>
      <h2 class="rent-section-title">
      Rent a yacht now
    </h2>
    <div>
      <!-- <picture>
      <source>
      <source>
      <source> -->
      <img src="./img/img-yah-testpng@1x.png" alt="img-yah-testpng" class="yacht-form-img">
      <!-- </picture>  -->
    </div>
    </div>
  </div>
  <form>
    <label for="name">Full Name</label>
    <input type="text" id="name" required>
    <label for="email">Email</label>
    <input type="email" id="email" required>
    <label for="phone">Phone number</label>
    <input type="tel" id="phone" required>
    <label for="comment">Comment</label>
    <textarea id="comment" rows="4"></textarea>
    <div>
      <button class="order_form-button">
        Send
        <svg class="rent-section-form-right-arrow">
          <use href="./img/symbol-defs.svg#icon-arrow-stroke-right">
          </use>
        </svg>
      </button>
    </div>
</form>
</div>
</div>
</section>