<section class="yacht-section">
  <div class="container">
    <div class="swiper yachtsSwiper">
      <div class="swiper-wrapper">
        <!-- ARROW YACHT -->
        <div class="swiper-slide">
          <div class="yacht-section-card">
            <picture>
              <source
                srcset="
                  ./img/yaht_desktop_1x.png 1x,
                  ./img/yaht_desktop_2x.png 2x
                "
                media="min-width:1200px"
              />
              <source
                srcset="
                  ./img/yaht_tablet_1x.png 1x,
                  ./img/yaht_tablet_2x.png 2x
                "
                media="min-width:768px"
              />
              <source
                srcset="
                  ./img/yaht_mobile_1x.png 1x,
                  ./img/yaht_mobile_2x.png 2x
                "
                media="min-width:480px"
              />
              <img
                src="./img/yaht_desktop_1x.png"
                alt="photo yacht"
                class="yacht-section-img"
              />
            </picture>
            <div class="yacht-section-info">
              <h3 class="yacht-section-info-title">ARROW</h3>
              <p class="yacht-section-info-description">LUXURY YAHTS</p>
            </div>
            <ul class="yacht-section-list">
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">LENGTH</p>
                <p class="yacht-section-title-description">48m(155ft)</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">BUILDER</p>
                <p class="yacht-section-title-description">Admiral</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">BUILT</p>
                <p class="yacht-section-title-description">2021</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">GUESTS</p>
                <p class="yacht-section-title-description">11 in 5 cabins</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">PRICE</p>
                <p class="yacht-section-title-description">€33,500,000</p>
              </li>
            </ul>
          </div>
        </div>

        <!-- BENETTI YACHT -->
        <div class="swiper-slide">
          <div class="yacht-section-card">
            <picture>
              <source
                srcset="
                  ./img/yaht_2_desktop_1x.png 1x,
                  ./img/yaht_2_desktop_2x.png 2x
                "
                media="min-width:1200px"
              />
              <source
                srcset="
                  ./img/yaht_2_tablet_1x.png 1x,
                  ./img/yaht_2_tablet_2x.png 2x
                "
                media="min-width:768px"
              />
              <source
                srcset="
                  ./img/yaht_2_mobile_1x.png 1x,
                  ./img/yaht_2_mobile_2x.png 2x
                "
                media="min-width:480px"
              />
              <img
                src="./img/yaht_2_desktop_1x.png"
                alt="photo yacht"
                class="yacht-section-img"
              />
            </picture>
            <div class="yacht-section-info">
              <h3 class="yacht-section-info-title">BENETTI OASIS 40M</h3>
              <p class="yacht-section-info-description">LUXURY YAHTS</p>
            </div>
            <ul class="yacht-section-list">
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">LENGTH</p>
                <p class="yacht-section-title-description">41m(133ft)</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">SHIPYARD</p>
                <p class="yacht-section-title-description">Benetti</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">BUILT</p>
                <p class="yacht-section-title-description">2025</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">GUESTS</p>
                <p class="yacht-section-title-description">10 in 5 cabins</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">PRICE</p>
                <p class="yacht-section-title-description">€23,210,000</p>
              </li>
            </ul>
          </div>
        </div>

        <!-- BELLE ANNA YACHT -->
        <div class="swiper-slide">
          <div class="yacht-section-card">
            <picture>
              <source
                srcset="
                  ./img/yaht_3_desktop_1x.png 1x,
                  ./img/yaht_3_desktop_2x.png 2x
                "
                media="min-width:1200px"
              />
              <source
                srcset="
                  ./img/yaht_3_tablet_1x.png 1x,
                  ./img/yaht_3_tablet_2x.png 2x
                "
                media="min-width:768px"
              />
              <source
                srcset="
                  ./img/yaht_3_mobile_1x.png 1x,
                  ./img/yaht_3_mobile_2x.png 2x
                "
                media="min-width:480px"
              />
              <img
                src="./img/yaht_3_desktop_1x.png"
                alt="photo yacht"
                class="yacht-section-img"
              />
            </picture>
            <div class="yacht-section-info">
              <h3 class="yacht-section-info-title">BELLE ANNA</h3>
              <p class="yacht-section-info-description">LUXURY YAHTS</p>
            </div>
            <ul class="yacht-section-list">
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">LENGTH</p>
                <p class="yacht-section-title-description">50m(155ft)</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">SHIPYARD</p>
                <p class="yacht-section-title-description">ISA</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">BUILT</p>
                <p class="yacht-section-title-description">2012</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">GUESTS</p>
                <p class="yacht-section-title-description">12 in 6 cabins</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">PRICE</p>
                <p class="yacht-section-title-description">€21,000,000</p>
              </li>
            </ul>
          </div>
        </div>

        <!-- Ellen YACHT -->
        <div class="swiper-slide">
          <div class="yacht-section-card">
            <picture>
              <source
                srcset="
                  ./img/yaht_4_desktop_1x.png 1x,
                  ./img/yaht_4_desktop_2x.png 2x
                "
                media="min-width:1200px"
              />
              <source
                srcset="
                  ./img/yaht_4_tablet_1x.png 1x,
                  ./img/yaht_4_tablet_2x.png 2x
                "
                media="min-width:768px"
              />
              <source
                srcset="
                  ./img/yaht_4_mobile_1x.png 1x,
                  ./img/yaht_4_mobile_2x.png 2x
                "
                media="min-width:480px"
              />
              <img
                src="./img/yaht_4_desktop_1x.png"
                alt="photo yacht"
                class="yacht-section-img"
              />
            </picture>
            <div class="yacht-section-info">
              <h3 class="yacht-section-info-title">Ellen</h3>
              <p class="yacht-section-info-description">LUXURY YAHTS</p>
            </div>
            <ul class="yacht-section-list">
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">LENGTH</p>
                <p class="yacht-section-title-description">40m (132ft)</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">SHIPYARD</p>
                <p class="yacht-section-title-description">Perini Navi</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">BUILT</p>
                <p class="yacht-section-title-description">
                  2001 / 2016 (refitted)
                </p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">GUESTS</p>
                <p class="yacht-section-title-description">9 in 4 cabins</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">PRICE</p>
                <p class="yacht-section-title-description">€9,300,000</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- MIRAGE 401 YACHT -->
        <div class="swiper-slide">
          <div class="yacht-section-card">
            <picture>
              <source
                srcset="
                  ./img/yaht_5_desktop_1x.png 1x,
                  ./img/yaht_5_desktop_2x.png 2x
                "
                media="min-width:1200px"
              />
              <source
                srcset="
                  ./img/yaht_5_tablet_1x.png 1x,
                  ./img/yaht_5_tablet_2x.png 2x
                "
                media="min-width:768px"
              />
              <source
                srcset="
                  ./img/yaht_5_mobile_1x.png 1x,
                  ./img/yaht_5_mobile_2x.png 2x
                "
                media="min-width:480px"
              />
              <img
                src="./img/yaht_5_desktop_1x.png"
                alt="photo yacht"
                class="yacht-section-img"
              />
            </picture>
            <div class="yacht-section-info">
              <h3 class="yacht-section-info-title">MIRAGE 401</h3>
              <p class="yacht-section-info-description">LUXURY YAHTS</p>
            </div>
            <ul class="yacht-section-list">
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">LENGTH</p>
                <p class="yacht-section-title-description">38m (125ft)</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">SHIPYARD</p>
                <p class="yacht-section-title-description">
                  Gianetti Custom Yachts
                </p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">BUILT</p>
                <p class="yacht-section-title-description">2024</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">GUESTS</p>
                <p class="yacht-section-title-description">10 in 5 cabins</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">PRICE</p>
                <p class="yacht-section-title-description">€13,500,000</p>
              </li>
            </ul>
          </div>
        </div>

        <!-- KING YACHT -->
        <div class="swiper-slide">
          <div class="yacht-section-card">
            <picture>
              <source
                srcset="
                  ./img/yaht_6_desktop_1x.png 1x,
                  ./img/yaht_6_desktop_2x.png 2x
                "
                media="min-width:1200px"
              />
              <source
                srcset="
                  ./img/yaht_6_tablet_1x.png 1x,
                  ./img/yaht_6_tablet_2x.png 2x
                "
                media="min-width:768px"
              />
              <source
                srcset="
                  ./img/yaht_6_mobile_1x.png 1x,
                  ./img/yaht_6_mobile_2x.png 2x
                "
                media="min-width:480px"
              />
              <img
                src="./img/yaht_6_desktop_1x.png"
                alt="photo yacht"
                class="yacht-section-img"
              />
            </picture>
            <div class="yacht-section-info">
              <h3 class="yacht-section-info-title">KING</h3>
              <p class="yacht-section-info-description">LUXURY YAHTS</p>
            </div>
            <ul class="yacht-section-list">
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">LENGTH</p>
                <p class="yacht-section-title-description">33m (109ft)</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">SHIPYARD</p>
                <p class="yacht-section-title-description">Overmarine</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">BUILT</p>
                <p class="yacht-section-title-description">
                  2004 / 2018 (refitted)
                </p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">GUESTS</p>
                <p class="yacht-section-title-description">9 in 4 cabins</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">PRICE</p>
                <p class="yacht-section-title-description">€1,850,000</p>
              </li>
            </ul>
          </div>
        </div>

        <!-- SALT YACHT -->
        <div class="swiper-slide">
          <div class="yacht-section-card">
            <picture>
              <source
                srcset="
                  ./img/yaht_7_desktop_1x.png 1x,
                  ./img/yaht_7_desktop_2x.png 2x
                "
                media="min-width:1200px"
              />
              <source
                srcset="
                  ./img/yaht_7_tablet_1x.png 1x,
                  ./img/yaht_7_tablet_2x.png 2x
                "
                media="min-width:768px"
              />
              <source
                srcset="
                  ./img/yaht_7_mobile_1x.png 1x,
                  ./img/yaht_7_mobile_2x.png 2x
                "
                media="min-width:480px"
              />
              <img
                src="./img/yaht_7_desktop_1x.png"
                alt="photo yacht"
                class="yacht-section-img"
              />
            </picture>
            <div class="yacht-section-info">
              <h3 class="yacht-section-info-title">SALT</h3>
              <p class="yacht-section-info-description">LUXURY YAHTS</p>
            </div>
            <ul class="yacht-section-list">
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">LENGTH</p>
                <p class="yacht-section-title-description">32m (105ft)</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">SHIPYARD</p>
                <p class="yacht-section-title-description">SanLorenzo</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">BUILT</p>
                <p class="yacht-section-title-description">2019</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">GUESTS</p>
                <p class="yacht-section-title-description">11 in 5 cabins</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">PRICE</p>
                <p class="yacht-section-title-description">€7,800,000</p>
              </li>
            </ul>
          </div>
        </div>

        <!-- STORM YACHT -->
        <div class="swiper-slide">
          <div class="yacht-section-card">
            <picture>
              <source
                srcset="
                  ./img/yaht_8_desktop_1x.png 1x,
                  ./img/yaht_8_desktop_2x.png 2x
                "
                media="min-width:1200px"
              />
              <source
                srcset="
                  ./img/yaht_8_tablet_1x.png 1x,
                  ./img/yaht_8_tablet_2x.png 2x
                "
                media="min-width:768px"
              />
              <source
                srcset="
                  ./img/yaht_8_mobile_1x.png 1x,
                  ./img/yaht_8_mobile_2x.png 2x
                "
                media="min-width:480px"
              />
              <img
                src="./img/yaht_8_desktop_1x.png"
                alt="photo yacht"
                class="yacht-section-img"
              />
            </picture>
            <div class="yacht-section-info">
              <h3 class="yacht-section-info-title">STORM</h3>
              <p class="yacht-section-info-description">LUXURY YAHTS</p>
            </div>
            <ul class="yacht-section-list">
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">LENGTH</p>
                <p class="yacht-section-title-description">32m (103ft)</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">SHIPYARD</p>
                <p class="yacht-section-title-description">Overmarine</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">BUILT</p>
                <p class="yacht-section-title-description">
                  2005 / 2022 (refitted)
                </p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">GUESTS</p>
                <p class="yacht-section-title-description">9 in 4 cabins</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">PRICE</p>
                <p class="yacht-section-title-description">€2,900,000</p>
              </li>
            </ul>
          </div>
        </div>

        <!-- COLLU YACHT -->
        <div class="swiper-slide">
          <div class="yacht-section-card">
            <picture>
              <source
                srcset="
                  ./img/yaht_9_desktop_1x.png 1x,
                  ./img/yaht_9_desktop_2x.png 2x
                "
                media="min-width:1200px"
              />
              <source
                srcset="
                  ./img/yaht_9_tablet_1x.png 1x,
                  ./img/yaht_9_tablet_2x.png 2x
                "
                media="min-width:768px"
              />
              <source
                srcset="
                  ./img/yaht_9_mobile_1x.png 1x,
                  ./img/yaht_9_mobile_2x.png 2x
                "
                media="min-width:480px"
              />
              <img
                src="./img/yaht_9_desktop_1x.png"
                alt="photo yacht"
                class="yacht-section-img"
              />
            </picture>
            <div class="yacht-section-info">
              <h3 class="yacht-section-info-title">COLLU</h3>
              <p class="yacht-section-info-description">LUXURY YAHTS</p>
            </div>
            <ul class="yacht-section-list">
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">LENGTH</p>
                <p class="yacht-section-title-description">29m (96ft)</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">SHIPYARD</p>
                <p class="yacht-section-title-description">Ferretti</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">BUILT</p>
                <p class="yacht-section-title-description">2014</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">GUESTS</p>
                <p class="yacht-section-title-description">10 in 5 cabins</p>
              </li>
              <li class="yacht-section-item">
                <p class="yacht-section-item-title">PRICE</p>
                <p class="yacht-section-title-description">$4,300,000</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg class="swiper-button-prev-svg">
          <use href="./img/symbol-defs.svg#icon-arrow-stroke-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg class="swiper-button-next-svg">
          <use href="./img/symbol-defs.svg#icon-arrow-stroke-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
