<section>
    <div class="container">

        <!-- ARROW YACHT -->

        <div>
            <picture>
                <source srcset="./img/yacht_desktop_1x.png 1x, ./img/yacht_desktop_2x.png 2x" media="min-width:1200px">
                <source srcset="./img/yacht_tablet_1x.png 1x, ./img/yacht_tablet_2x.png 2x" media="min-width:768px">
                <source srcset="./img/yacht_mobile_1x.png 1x, ./img/yacht_mobile_2x.png 2x" media="min-width:480px">
                <img src="./img/yaht_desktop_1x.png" alt="photo yacht">
            </picture>
            <div>
                <h3>ARROW</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                    <p>48m(155ft)</p>
                </li>
                <li>
                    <p>BUILDER</p>
                    <p>Admiral</p>
                </li>
                <li>
                    <p>BUILT</p>
                    <p>2021</p>
                </li>
                <li>
                    <p>GUESTS</p>
                    <p>11 in 5 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                    <p>€33,500,000</p>
                </li>
            </ul>
        </div>

        <!-- BENETTI YACHT -->

        <div>
            <picture>
                <source srcset="./img/yacht_2_desktop_1x.png 1x, ./img/yacht_2_desktop_2x.png 2x" media="min-width:1200px">
                <source srcset="./img/yacht_2_tablet_1x.png 1x, ./img/yacht_2_tablet_2x.png 2x" media="min-width:768px">
                <source srcset="./img/yacht_2_mobile_1x.png 1x, ./img/yacht_2_mobile_2x.png 2x" media="min-width:480px">
                <img src="./img/yaht_2_desktop_1x.png" alt="photo yacht">
            </picture>
            <div>
                <h3>BENETTI OASIS 40M</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                    <p>41m(133ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                    <p>Benetti</p>
                </li>
                <li>
                    <p>BUILT</p>
                    <p>2025</p>
                </li>
                <li>
                    <p>GUESTS</p>
                    <p>10 in 5 cabins</p>
                </li>
                </li>
                    <p>PRICE</p>
                    <p>€23,210,000</p>
                </li>
            </ul>
        </div>

        <!-- BELLE ANNA YACHT -->

        <div>
            <picture>
                <source srcset="./img/yacht_3_desktop_1x.png 1x, ./img/yacht_3_desktop_2x.png 2x" media="min-width:1200px">
                <source srcset="./img/yacht_3_tablet_1x.png 1x, ./img/yacht_3_tablet_2x.png 2x" media="min-width:768px">
                <source srcset="./img/yacht_3_mobile_1x.png 1x, ./img/yacht_3_mobile_2x.png 2x" media="min-width:480px">
                <img src="./img/yaht_3_desktop_1x.png" alt="photo yacht">
            </picture>
            <div>
                <h3>BELLE ANNA</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                    <p>50m(155ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                    <p>ISA</p>
                </li>
                <li>
                    <p>BUILT</p>
                    <p>2012</p>
                </li>
                <li>
                    <p>GUESTS</p>
                    <p>12 in 6 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                    <p>€21,000,000</p>
                </li>
            </ul>
        </div>

        <!-- Ellen YACHT -->

        <div>
            <picture>
                <source srcset="./img/yacht_4_desktop_1x.png 1x, ./img/yacht_4_desktop_2x.png 2x" media="min-width:1200px">
                <source srcset="./img/yacht_4_tablet_1x.png 1x, ./img/yacht_4_tablet_2x.png 2x" media="min-width:768px">
                <source srcset="./img/yacht_4_mobile_1x.png 1x, ./img/yacht_4_mobile_2x.png 2x" media="min-width:480px">
                <img src="./img/yacht_4_desktop_1x.png" alt="photo yacht">
            </picture>
            <div>
                <h3>Ellen</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                    <p>40m (132ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                    <p>Perini Navi</p>
                </li>
                <li>
                    <p>BUILT</p>
                    <p>2001 / 2016 (refitted)</p>
                </li>
                <li>
                    <p>GUESTS</p>
                    <p>9 in 4 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                    <p>€9,300,000</p>
                </li>

            </ul>
        </div>

        <!-- MIRAGE 401 YACHT -->

        <div>
            <picture>
                <source srcset="./img/yacht_5_desktop_1x.png 1x, ./img/yacht_5_desktop_2x.png 2x" media="min-width:1200px">
                <source srcset="./img/yacht_5_tablet_1x.png 1x, ./img/yacht_5_tablet_2x.png 2x" media="min-width:768px">
                <source srcset="./img/yacht_5_mobile_1x.png 1x, ./img/yacht_5_mobile_2x.png 2x" media="min-width:480px">
                <img src="./img/yacht_5_desktop_1x.png" alt="photo yacht">
            </picture>
            <div>
                <h3>MIRAGE 401</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                    <p>38m (125ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                    <p>Gianetti Custom Yachts</p>
                </li>
                <li>
                    <p>BUILT</p>
                    <p>2024</p>
                </li>
                <li>
                    <p>GUESTS</p>
                    <p>10 in 5 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                    <p>€13,500,000</p>
                </li>
            </ul>
        </div>

        <!-- KING YACHT -->

        <div>
            <picture>
                <source srcset="./img/yacht_6_desktop_1x.png 1x, ./img/yacht_6_desktop_2x.png 2x" media="min-width:1200px">
                <source srcset="./img/yacht_6_tablet_1x.png 1x, ./img/yacht_6_tablet_2x.png 2x" media="min-width:768px">
                <source srcset="./img/yacht_6_mobile_1x.png 1x, ./img/yacht_6_mobile_2x.png 2x" media="min-width:480px">
                <img src="./img/yacht_6_desktop_1x.png" alt="photo yacht">
            </picture>
            <div>
                <h3>KING</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                    <p>33m (109ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                    <p>Overmarine</p>
                </li>
                <li>
                    <p>BUILT</p>
                    <p>2004 / 2018 (refitted)</p>
                </li>
                <li>
                    <p>GUESTS</p>
                    <p>9 in 4 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                    <p>€1,850,000</p>
                </li>
            </ul>
        </div>

        <!-- SALT YACHT -->

        <div>
            <picture>
                <source srcset="./img/yacht_7_desktop_1x.png 1x, ./img/yacht_7_desktop_2x.png 2x" media="min-width:1200px">
                <source srcset="./img/yacht_7_tablet_1x.png 1x, ./img/yacht_7_tablet_2x.png 2x" media="min-width:768px">
                <source srcset="./img/yacht_7_mobile_1x.png 1x, ./img/yacht_7_mobile_2x.png 2x" media="min-width:480px">
                <img src="./img/yacht_7_desktop_1x.png" alt="photo yacht">
            </picture>
            <div>
                <h3>SALT</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                    <p>32m (105ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                    <p>SanLorenzo</p>
                </li>
                <li>
                    <p>BUILT</p>
                    <p>2019</p>
                </li>
                <li>
                    <p>GUESTS</p>
                    <p>11 in 5 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                    <p>€7,800,000</p>
                </li>
            </ul>
        </div>

        <!-- STORM YACHT -->

        <div>
            <picture>
                <source srcset="./img/yacht_8_desktop_1x.png 1x, ./img/yacht_8_desktop_2x.png 2x" media="min-width:1200px">
                <source srcset="./img/yacht_8_tablet_1x.png 1x, ./img/yacht_8_tablet_2x.png 2x" media="min-width:768px">
                <source srcset="./img/yacht_8_mobile_1x.png 1x, ./img/yacht_8_mobile_2x.png 2x" media="min-width:480px">
                <img src="./img/yacht_8_desktop_1x.png" alt="photo yacht">
            </picture>
            <div>
                <h3>STORM</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                    <p>32m (103ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                    <p>Overmarine</p>
                </li>
                <li>
                    <p>BUILT</p>
                    <p>2005 / 2022 (refitted)</p>
                </li>
                <li>
                    <p>GUESTS</p>
                    <p>9 in 4 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                    <p>€2,900,000</p>
                </li>
            </ul>
        </div>

        <!-- COLLU YACHT -->

        <div>
            <picture>
                <source srcset="./img/yacht_9_desktop_1x.png 1x, ./img/yacht_9_desktop_2x.png 2x" media="min-width:1200px">
                <source srcset="./img/yacht_9_tablet_1x.png 1x, ./img/yacht_9_tablet_2x.png 2x" media="min-width:768px">
                <source srcset="./img/yacht_9_mobile_1x.png 1x, ./img/yacht_9_mobile_2x.png 2x" media="min-width:480px">
                <img src="./img/yacht_9_desktop_1x.png" alt="photo yacht">
            </picture>
            <div>
                <h3>COLLU</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                    <p>29m (96ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                    <p>Ferretti</p>
                </li>
                <li>
                    <p>BUILT</p>
                    <p>2014</p>
                </li>
                <li>
                    <p>GUESTS</p>
                    <p>10 in 5 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                    <p>$4,300,000</p>
                </li>
            </ul>
        </div>
    </div>
</section>