<section>  
    <div class="container">

        <!-- ARROW YACHT -->

        <div>
            <picture>
                <source srcset="">
                <source srcset="">
                <source srcset="">
                <img src="/src/img/yaht_desktop_1x.png" alt="photo yacht">
            </picture>
            <div>
                <h3>ARROW</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                </li>
                <li>
                    <p>48m(155ft)</p>
                </li>
                <li>
                    <p>BUILDER</p>
                </li>
                <li>
                    <p>Admiral</p>
                </li>
                <li>
                    <p>BUILT</p>
                </li>
                <li>
                    <p>2021</p>
                </li>
                <li>
                    <p>GUESTS</p>
                </li>
                <li>
                    <p>11 in 5 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                </li>
                <li>
                    <p>€33,500,000</p>
                </li>
            </ul>
        </div>

        <!-- BENETTI YACHT -->

        <div>
            <img src="" alt="">
            <div>
                <h3>BENETTI OASIS 40M</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                </li>
                <li>
                    <p>41m(133ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                </li>
                <li>
                    <p>Benetti</p>
                </li>
                <li>
                    <p>BUILT</p>
                </li>
                <li>
                    <p>2025</p>
                </li>
                <li>
                    <p>GUESTS</p>
                </li>
                <li>
                    <p>10 in 5 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                </li>
                <li>
                    <p>€23,210,000</p>
                </li>
            </ul>
        </div>

        <!-- BELLE ANNA YACHT -->

        <div>
            <img src="" alt="">
            <div>
                <h3>BELLE ANNA</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                </li>
                <li>
                    <p>50m(155ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                </li>
                <li>
                    <p>ISA</p>
                </li>
                <li>
                    <p>BUILT</p>
                </li>
                <li>
                    <p>2012</p>
                </li>
                <li>
                    <p>GUESTS</p>
                </li>
                <li>
                    <p>12 in 6 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                </li>
                <li>
                    <p>€21,000,000</p>
                </li>
            </ul>
        </div>

        <!-- Ellen YACHT -->

        <div>
            <img src="" alt="">
            <div>
                <h3>Ellen</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                </li>
                <li>
                    <p>40m (132ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                </li>
                <li>
                    <p>Perini Navi</p>
                </li>
                <li>
                    <p>BUILT</p>
                </li>
                <li>
                    <p>2001 / 2016 (refitted)</p>
                </li>
                <li>
                    <p>GUESTS</p>
                </li>
                <li>
                    <p>9 in 4 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                </li>
                <li>
                    <p>€9,300,000</p>
                </li>
            </ul>
        </div>

        <!-- MIRAGE 401 YACHT -->

        <div>
            <img src="" alt="">
            <div>
                <h3>MIRAGE 401</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                </li>
                <li>
                    <p>38m (125ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                </li>
                <li>
                    <p>Gianetti Custom Yachts</p>
                </li>
                <li>
                    <p>BUILT</p>
                </li>
                <li>
                    <p>2024</p>
                </li>
                <li>
                    <p>GUESTS</p>
                </li>
                <li>
                    <p>10 in 5 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                </li>
                <li>
                    <p>€13,500,000</p>
                </li>
            </ul>
        </div>

        <!-- KING YACHT -->

        <div>
            <img src="" alt="">
            <div>
                <h3>KING</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                </li>
                <li>
                    <p>33m (109ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                </li>
                <li>
                    <p>Overmarine</p>
                </li>
                <li>
                    <p>BUILT</p>
                </li>
                <li>
                    <p>2004 / 2018 (refitted)</p>
                </li>
                <li>
                    <p>GUESTS</p>
                </li>
                <li>
                    <p>9 in 4 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                </li>
                <li>
                    <p>€1,850,000</p>
                </li>
            </ul>
        </div>

        <!-- SALT YACHT -->

        <div>
            <img src="" alt="">
            <div>
                <h3>SALT</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                </li>
                <li>
                    <p>32m (105ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                </li>
                <li>
                    <p>SanLorenzo</p>
                </li>
                <li>
                    <p>BUILT</p>
                </li>
                <li>
                    <p>2019</p>
                </li>
                <li>
                    <p>GUESTS</p>
                </li>
                <li>
                    <p>11 in 5 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                </li>
                <li>
                    <p>€7,800,000</p>
                </li>
            </ul>
        </div>

        <!-- STORM YACHT -->

        <div>
            <img src="" alt="">
            <div>
                <h3>STORM</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                </li>
                <li>
                    <p>32m (103ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                </li>
                <li>
                    <p>Overmarine</p>
                </li>
                <li>
                    <p>BUILT</p>
                </li>
                <li>
                    <p>2005 / 2022 (refitted)</p>
                </li>
                <li>
                    <p>GUESTS</p>
                </li>
                <li>
                    <p>9 in 4 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                </li>
                <li>
                    <p>€2,900,000</p>
                </li>
            </ul>
        </div>

        <!-- COLLU YACHT -->

        <div>
            <img src="" alt="">
            <div>
                <h3>COLLU</h3>
                <p>LUXURY YAHTS</p>
            </div>
            <ul>
                <li>
                    <p>LENGTH</p>
                </li>
                <li>
                    <p>29m (96ft)</p>
                </li>
                <li>
                    <p>SHIPYARD</p>
                </li>
                <li>
                    <p>Ferretti</p>
                </li>
                <li>
                    <p>BUILT</p>
                </li>
                <li>
                    <p>2014</p>
                </li>
                <li>
                    <p>GUESTS</p>
                </li>
                <li>
                    <p>10 in 5 cabins</p>
                </li>
                <li>
                    <p>PRICE</p>
                </li>
                <li>
                    <p>$4,300,000</p>
                </li>
            </ul>
        </div>
    </div>
</section>