.scrollToTopBtn {
    opacity: 0;
    cursor: pointer;
    bottom: 120px;
    right: 32px;
    position: fixed;
    z-index: 9;
    transform: translateY(100px);
    width: 68px;
    height: 68px;
    background-color: #93ABAE;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 500ms ease;
    @media screen and (min-width: 768px) {
      right: 32px;
      width: 68px;
      height: 68px;
    }
    &:hover {
        background-color: #88b3b9;
    }
  }
  
  .showBtn {
    opacity: 0.8;
    transform: translateY(0);
  }

  .scrollToTopBtn-svg {
    fill: white;
    width: 68px;
    height: 40px;
  }