.about {
    padding-bottom: 80px;

    &__title {
        font-style: italic;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.04em;
        background: linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%);
        background-clip: text;
        padding-top: 80px;

        @media screen and (min-width: 768px) {
            max-width: 514px;
            width: 100%;
        }
    }

    &__span {
        color: #93ABAE;
    }

    &__list {
        display: flex;
        margin-top: 40px;
        gap: 14px;
        margin-bottom: 40px;

        @media screen and (min-width: 768px) {
            justify-content: end;
        }

        @media screen and (min-width: 1280px) {
            position: relative;
            width: 553px;
            margin: auto;
        }
    }

    .title__container {
        @media screen and (min-width: 1280px) {
            display: flex;
        }
    }

    &__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.02em;
        width: 160px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 36px;
        line-height: 110%;
        letter-spacing: -0.04em;
    }

    .img__list {
        gap: 24px;
    }

    &__outside {
        width: 335px;
        height: 524px;
    }

    &__relax {
        border-radius: 24px;
    }

    &__insee {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #11131f 100%);
    }

    .img__item {
        margin-top: 24px;
    }

    .img__item:nth-child(1) {
        max-width: 704;

        @media screen and (min-width: 1280px) {
            width: 553px;
        }
    }

    .img__item:nth-child(2) {
        max-width: 308px;
        background-repeat: no-repeat;

        @media screen and (min-width: 1280px) {
            top: 254px;
            left: -324px;
            position: absolute;
        }
    }

    .img__item:nth-child(3) {
        width: 260px;
        height: 244px;
        border-radius: 24px;
        position: absolute;
        left: 110px;
        z-index: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #11131f 100%);

        @media screen and (min-width: 768px) {
            width: 260px;
            height: 244px;
            position: relative;
            bottom: 100px;
            left: 372px;
        }

        @media screen and (min-width: 1280px) {
            left: 300px;
            bottom: -200px;
        }
    }

    &__button {
        font-weight: 700;
        font-size: 14px;
        line-height: 110%;
        letter-spacing: -0.04em;
        border: 1px solid $main-color;
        border-radius: 60px;
        padding: 14px 28px;
        background-color: transparent;
        color: white;
        margin-bottom: 100px;
        position: relative;
        left: 45px;
        top: 100px;

        @media screen and (min-width: 1280px) {
            margin-left: 167px;
        }
    }

    &__subtitle {
        margin-top: 146px;
        margin-bottom: 40px;
        position: relative;
        z-index: 1;

        @media screen and (min-width: 768px) {
            font-weight: 500;
            font-size: 70px;
            margin-top: 0;
            position: absolute;
            top: 1683px;
            left: 64px;
            width: 640px;
        }

        @media screen and (min-width: 1280px) {
            width: 888px;
            margin-left: auto;
            margin-right: auto;
            font-size: 100;
        }
    }


}