.features {
  &-list {
    // display: grid;
  }
  &-item {
      position: relative;
  }
}

.feature-button {
  padding: 14px 28px;
  position: absolute;
  // font-family: $font-family; // головний за variables , повинен додати це до них
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.04em;
  // color: var(--dark-blue); // головний за variables , повинен додати це до них
  border: none;
  border-radius: 60px;
  color: #F6F5EF;   // головний за variables , повинен додати це до них
}