.features {
  padding-bottom: 80px;
  &-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &-item {
      position: relative;
      border-radius: 40px;    
      overflow: hidden;   
  }
}

.feature-button {
  bottom: 24px;
  left: 24px;
  padding: 14px 28px;
  position: absolute;
  font-family:"DM Sans", sans-serif; // variables will be added later
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.04em;
  border: none;
  border-radius: 60px;
  color: #11131F; // variables will be added later  
}