.header {
    &-nav {
        display: flex;
        align-items: center ;
    }
    &-list {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    &-svg {
        width: 18px;
    }
    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 500;
        font-size: 18px;
        gap: 8px;
    }
}
.burger-button {
    border: none;
    background-color: transparent;
    display: flex;
    margin-left: auto;
    &-svg {
        fill: white;
    }
}

    
