.header {
    &-nav {
        display: flex;
        align-items: center;
        padding-bottom: 24px;
        padding-top: 24px;
        @media screen and (min-width: 768px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
    &-list {
        @media screen and (max-width: 767px) {
            display: none;
        }
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            gap: 24px;
            font-weight: 700;
            font-size: 14px;
            color: white;
        }
    }
    &-svg {
        width: 18px;
    }
    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 500;
        font-size: 18px;
        gap: 8px;   
    }
}
.burger-button {
    border: none;
    background-color: transparent;
    display: flex;
    margin-left: auto;
    @media screen and (min-width: 768px) {
        display: none;
    }
    &-svg {
        fill: white;
        
    }
}

.header .container::after {
    display: block;
    content: "";
    height: 1px;
    background-color: rgba(246, 245, 239, 0.2);
}