.rent-section {
  padding-bottom: 80px;
  &-title {
    margin-bottom: 16px;
    font-family: $font-family;
    font-weight: 500;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: #F6F5EF;   
    @media screen and (min-width:768px) {
      font-size: 60px;
      margin-bottom: 32px;
    } 
  }
  &-form {
    display: flex;
    flex-direction: column;
    width: 335px;
    gap: 24px;
    @media screen and (min-width:768px) {
      width: 364px;
      gap: 28px;
    } 
    &-button {
      border: 1px solid white; // variables will be added later
      border-radius: 60px;
      background-color: transparent;
      padding: 14px 28px;
      font-family:$font-family;  
      color: white; // variables will be added later
      display: flex;
      align-items: center;
      gap: 16px;
    }
    &-right-arrow {
      width: 18px;
      height: 18px;
      fill: #F6F5EF;
    }
  } 
}

label {
  text-align: left;
  font-size: 14px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.label {
  &-name ,
  &-email ,
  &-phone
  {
    height: 33px;
  }
}
input {
  // padding-bottom: 16px;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 16px;
}
textarea {
  resize: none;
  // padding-bottom: 58px;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 16px;
}
.thumb {
  width: 259px;
  height: 187px;
  @media screen and (min-width:768px) {
    width: 271px;
  }
}
.rent-section-form-right-arrow {
  width: 18px;
  height: 18px;
  fill: #F6F5EF;
}
.help-wrapper {
  @media screen and (max-width:767px){
    margin-bottom: 40px;
  }
}
.rent-wrapper {
  @media screen and (min-width:768px) {
    display: flex;
    justify-content: space-around;
  }
}
