// .swiper .yachtSwiper {
//     height: 397px;
// }
// .yachts .swiper-slide {
//     width: 335px;
//     height: 364px;
// }





.yacht-section {
    padding-top: 80px;
    padding-bottom: 80px;
    @media screen and (min-width: 768px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 164px;
        padding-bottom: 164px;
    }
    &-card {
        border-radius: 24px;
        width: 335px;
        height: 469px;
        background-color: #1F212D;
        padding: 18px;
    }
    &-img {
        width: 299px;
        border-radius: 24px;
        margin-bottom: 24px;
    }
    &-info {
       display: flex; 
       align-items: center;
       justify-content: space-between;
       margin-bottom: 24px;
    }
    &-info-title {
        color: white;
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.04em;
    }
    &-info-description {
        font-weight: 400;
        font-size: 12px;
        line-height: 118%;
        letter-spacing: 0.03em;
        color: rgb(255, 255, 255, 50%);
    }
    &-list {
        
    }
    &-item {
        display: flex;
        gap: 34px;
        &-title {
            color: white;
            width: 67px;
        }
    }
    &-title-description {
        color: white;
    }
}

.swiper-button-next {
    border: 1px solid white;
    border-radius: 60px; 
}

.swiper-button-prev {
    border: 1px solid white;
    border-radius: 60px;
}